@import url(/Styles/reset.css);
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "lora";

  src: url("/Fonts/Merriweather/Lora/static/Lora-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("/Fonts/Merriweather/Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}

* {
  font-family: "lora";
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather";
}

:root {
  --picton-blue-50: #effaff;
  --picton-blue-100: #def4ff;
  --picton-blue-200: #b6ebff;
  --picton-blue-300: #75deff;
  --picton-blue-400: #2dcdff;
  --picton-blue-500: #01b0ec;
  --picton-blue-600: #0094d3;
  --picton-blue-700: #0075aa;
  --picton-blue-800: #00638c;
  --picton-blue-900: #065274;
  --picton-blue-950: #04344d;

  --butterfly-bush-50: #f9f7fd;
  --butterfly-bush-100: #f1eef9;
  --butterfly-bush-200: #e5dff5;
  --butterfly-bush-300: #d1c6ec;
  --butterfly-bush-400: #b5a1df;
  --butterfly-bush-500: #987cd0;
  --butterfly-bush-600: #805fbe;
  --butterfly-bush-700: #6b4ca4;
  --butterfly-bush-800: #644894;
  --butterfly-bush-900: #4b366d;
  --butterfly-bush-950: #301e4d;

  --french-rose-50: #fef1f6;
  --french-rose-100: #fee5f0;
  --french-rose-200: #ffcbe2;
  --french-rose-300: #ffa1c8;
  --french-rose-400: #ff5496;
  --french-rose-500: #fa3a7f;
  --french-rose-600: #ea1858;
  --french-rose-700: #cc0a40;
  --french-rose-800: #a80c36;
  --french-rose-900: #8c0f30;
  --french-rose-950: #560117;
  --mine-shaft-50: #f6f6f6;
  --mine-shaft-100: #e7e7e7;
  --mine-shaft-200: #d1d1d1;
  --mine-shaft-300: #b0b0b0;
  --mine-shaft-400: #888888;
  --mine-shaft-500: #6d6d6d;
  --mine-shaft-600: #5d5d5d;
  --mine-shaft-700: #4f4f4f;
  --mine-shaft-800: #454545;
  --mine-shaft-900: #3d3d3d;
  --mine-shaft-950: #292929;
  --storm-dust-800: #454545;
  --storm-dust-900: #3d3d3d;
  --storm-dust-950: #262626;
}
body {
  /* background-color: var(--mine-shaft-950); */

  font-family: sans-serif;
  font-size: 1.4rem;
}
p {
  color: white;
  line-height: 2rem;
}
header p {
  color: var(--butterfly-bush-950);
}
h3 {
  line-height: 2rem;
}

/* spacing between logo and links by flex*/
header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  transition: all ease 250ms;
}

/*.oscroll and .hide are use to control the nav bar appearance while scrolling using java 
script which has an event when scrolling to add scroll and hide classes
*/
.oScroll {
  background-color: var(--picton-blue-700);
  /* return nav bar to 0 position*/
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.36s ease-in-out;
  -webkit-transition: 0.36s ease-in-out;
  -moz-transition: 0.36s ease-in-out;
  -ms-transition: 0.36s ease-in-out;
  -o-transition: 0.36s ease-in-out;
  position: fixed;
}

.oScroll p {
  color: var(--butterfly-bush-950);
}
.hide {
  /* hide nav bar to -100 position*/
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

/*turn p to purple when hovering*/
header nav:hover p {
  color: var(--butterfly-bush-950);
}
header nav:hover {
  background-color: var(--picton-blue-700);
}
/*displaying nav bar correctly as flex with appropriate padding and transition
 and z index 1 to make it appear on top*/
header nav {
  background-color: var(--picton-blue-700);
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;

  padding-top: 1em;
  padding-bottom: 1rem;
  z-index: 1;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
/*change how logo look like when being hovered*/
header #first a:hover {
  opacity: 60%;
}
header div {
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
/*the slogan does not appear in small screens*/
#slogan {
  display: none;
}

/*search box with search icon in flex combined */
.search {
  z-index: 1;

  width: 100%;

  justify-self: center;
  flex-basis: 0.2rem;
  display: flex;

  background-color: var(--picton-blue-100);
  padding: 0.4rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search input {
  border: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.search input:focus {
  outline: none;
}

.search img {
  width: 1.3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#first img {
  width: 1.6rem;
}
#first a {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.links {
  display: flex; /*appropriately positioning  links in nav bar to  the side*/
  flex-flow: row;
  justify-content: end;
}
/*combine logo name with icon*/
#first {
  display: flex;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}
#logo h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

#cart a,
#account a {
  position: relative;
}
header a {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
}

/*place a line under anchor when being hovered*/
/* header nav .links a::after {
  transition: all 0.2s;
  content: "";
  width: 100%;
  height: 0.12rem;
  background-color: var(--french-rose-600);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
header nav .links a:hover:after {
  opacity: 1;
} */

/*extra links are not displayed in small screens*/
.extra {
  display: none;
}

/*words in links are  not displayed in small screen*/
ul.links a p {
  display: none;
}
/*catagoriex are flexed in column in small screen*/

/*placed relative to ancestor a  so it appears on top of it*/

button {
  background-color: white;
  font-weight: bolder;
  font-weight: 700;
  transition: all 0.5s ease;
  box-shadow: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  width: 30%;
  height: 3rem;
  size: 3rem;
  border: transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

button:hover {
  /*a transition on button when hovering to remove background color*/
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: solid white;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#account {
  position: relative;
}

#balance::before {
  content: " QAR";
}
#balance-div {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
  font-size: 1rem;
}

#categories {
  position: relative;
}

main {
  margin: 3rem;
  margin-top: 0rem;
  padding-top: 3rem;
}
#list-items {
  margin-top: 1em;
  display: flex;
  flex-flow: column wrap;

  gap: 2rem;
}
main h1 {
  color: var(--butterfly-bush-400);
  text-align: center;
  font-size: 2rem;
}
.product-item {
  background-color: var(--picton-blue-200);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; /*from getcssscan website*/
  padding: 0.6rem;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
  gap: 1rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.product-item .prod-image {
  width: 100px;
  border-radius: 20px;
  object-fit: contain;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#list-items .prod-quantity::before {
  content: "Qty: ";
}
.prod-price::after {
  content: " QAR";
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  grid-template: 1fr;
  z-index: 2;
  position: absolute;
  left: -2rem;
  top: calc(100% + 0.25rem);
  background-color: #0094d3;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  width: 100%;
  align-items: stretch;
  justify-content: stretch;

  a {
    color: black;
    font-size: 0.75rem;
  }

  p#balance {
    font-size: 100%;
  }

  img#balance {
    width: auto;
    height: auto;
  }

  .hidden {
    display: none;
  }
}

a:hover + .dropdown-menu {
  opacity: 1;
}

.dropdown-menu:hover {
  opacity: 1;
}

@media screen and (max-width: 596px) {
  #account-dropdown {
    width: 5rem;
    left: -3rem;

    img {
      width: 1rem;
      height: 1.75rem;
    }

    #balance {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 370px) {
  #account-dropdown {
    width: 5rem;
    left: -3rem;

    img {
      width: 1rem;
      height: 1.75rem;
    }

    #balance {
      font-size: 0.75rem;
    }
  }
}

@media screen and (min-width: 750px) {
  h3 {
    line-height: 5rem;
  }
  /*make the other links visible*/
  .extra {
    display: inline;
  }
  ul.links a p {
    display: inline;
  }
  ul.links {
    gap: 0.8rem;
    flex-wrap: wrap; /*wrap links in case no enough space*/
  }
  ul.links a {
    display: flex;

    font-size: 1.2rem;
    padding: 0.4rem;
    gap: 0.3em;
  }
  header nav .links .sides a:hover,
  .extra a:hover {
    background-color: var(--butterfly-bush-500);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  header nav .links .sides a:hover::after {
    opacity: 0;
  }

  header #list {
    display: none;
  }

  header nav > ul {
    grid-column: 1/4;
    justify-self: stretch;
    grid-row: 1; /*change size of nav bar*/
  }
  header .search {
    grid-row: 2;
  }
  #trending-categories ul {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /*grid layout for trending categories 2 each line*/
  }
  h1 {
    font-size: 4rem;
  }
}

#balance-div {
  cursor: default;
}

/*ligh and dark themed page*/
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  .product-item {
    background-color: var(--picton-blue-800);
    color: white;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
