* {
    box-sizing: border-box;
  
    font-family: sans-serif;
    font-size: 1rem;
}

:root {
    --picton-blue-50: #effaff;
    --picton-blue-100: #def4ff;
    --picton-blue-200: #b6ebff;
    --picton-blue-300: #75deff;
    --picton-blue-400: #2dcdff;
    --picton-blue-500: #01b0ec;
    --picton-blue-600: #0094d3;
    --picton-blue-700: #0075aa;
    --picton-blue-800: #00638c;
    --picton-blue-900: #065274;
    --picton-blue-950: #04344d;
}

header{
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  a {
      text-decoration: none;
      color: var(--picton-blue-400);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;

    background-color: rgb(255, 255, 255);
}

section>div {
    display: flex;
    flex-direction: column;
    margin: 0.1rem;

    p {
        margin: 1rem 0rem;
        font-weight: bold;
    }
}

input{
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 90%;
    border-width: 0.1rem;
    box-shadow: 0rem 0.1rem 0.1rem rgb(250, 250, 250);
}

button{
    margin: 1rem;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--picton-blue-200);

    font-weight: bold;
}