@import url(/Styles/reset.css);
* {
  box-sizing: border-box;
}

:root {
  --picton-blue-50: #effaff;
  --picton-blue-100: #def4ff;
  --picton-blue-200: #b6ebff;
  --picton-blue-300: #75deff;
  --picton-blue-400: #2dcdff;
  --picton-blue-500: #01b0ec;
  --picton-blue-600: #0094d3;
  --picton-blue-700: #0075aa;
  --picton-blue-800: #00638c;
  --picton-blue-900: #065274;
  --picton-blue-950: #04344d;

  --butterfly-bush-50: #f9f7fd;
  --butterfly-bush-100: #f1eef9;
  --butterfly-bush-200: #e5dff5;
  --butterfly-bush-300: #d1c6ec;
  --butterfly-bush-400: #b5a1df;
  --butterfly-bush-500: #987cd0;
  --butterfly-bush-600: #805fbe;
  --butterfly-bush-700: #6b4ca4;
  --butterfly-bush-800: #644894;
  --butterfly-bush-900: #4b366d;
  --butterfly-bush-950: #301e4d;

  --french-rose-50: #fef1f6;
  --french-rose-100: #fee5f0;
  --french-rose-200: #ffcbe2;
  --french-rose-300: #ffa1c8;
  --french-rose-400: #ff5496;
  --french-rose-500: #fa3a7f;
  --french-rose-600: #ea1858;
  --french-rose-700: #cc0a40;
  --french-rose-800: #a80c36;
  --french-rose-900: #8c0f30;
  --french-rose-950: #560117;
  --mine-shaft-50: #f6f6f6;
  --mine-shaft-100: #e7e7e7;
  --mine-shaft-200: #d1d1d1;
  --mine-shaft-300: #b0b0b0;
  --mine-shaft-400: #888888;
  --mine-shaft-500: #6d6d6d;
  --mine-shaft-600: #5d5d5d;
  --mine-shaft-700: #4f4f4f;
  --mine-shaft-800: #454545;
  --mine-shaft-900: #3d3d3d;
  --mine-shaft-950: #292929;
  --storm-dust-800: #454545;
  --storm-dust-900: #3d3d3d;
  --storm-dust-950: #262626;
}
body {
  /* background-color: var(--mine-shaft-950); */

  font-family: sans-serif;
  font-size: 1.4rem;
}
p {
  color: white;
  line-height: 2rem;
}
header p {
  color: var(--butterfly-bush-950);
}
h3 {
  line-height: 2rem;
}


header {
  height: 100vh;
  background-image: url(/media/images/dreamy-girl-looking-logo-showing-plastic-credit-card-holding-shopping-bags-standing-blue-b.jpg);
  background-size: cover;
  display: grid;
 
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header section {
  grid-column: span 7;
  grid-row: 1;
}

header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  transition: all ease 250ms;
}
.oScroll {
  background-color: var(--picton-blue-700);

  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.36s ease-in-out;
  -webkit-transition: 0.36s ease-in-out;
  -moz-transition: 0.36s ease-in-out;
  -ms-transition: 0.36s ease-in-out;
  -o-transition: 0.36s ease-in-out;
  position: fixed;
}

.oScroll p {
  color: var(--butterfly-bush-950);
}
.hide {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

header nav:hover p {
  color: var(--butterfly-bush-950);
}
header nav:hover {
  background-color: var(--picton-blue-700);
}

header nav {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;

  padding-top: 1em;
  padding-bottom: 1rem;
  z-index: 1;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

header #first a:hover {
  opacity: 60%;
}
header div {
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
#slogan {
  display: none;
}
.search {
  z-index: 1;

  width: 100%;

  justify-self: center;
  flex-basis: 0.2rem;
  display: flex;

  background-color: var(--picton-blue-100);
  padding: 0.4rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search input {
  border: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.search input:focus {
  outline: none;
}

.search img {
  width: 1.3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#first img {
  width: 1.6rem;
}
#first a {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.links {
  display: flex;
  flex-flow: row;
  justify-content: end;
}
#first {
  display: flex;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}
#logo h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

#cart a,
#account a {
  position: relative;
}
header a {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
}
/* header nav .links a::after {
  transition: all 0.2s;
  content: "";
  width: 100%;
  height: 0.12rem;
  background-color: var(--french-rose-600);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
header nav .links a:hover:after {
  opacity: 1;
} */
.extra {
  display: none;
}

ul.links a p {
  display: none;
}
#trending-catagories ul {
  display: flex;
  gap: 1em;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#trending-catagories ul li {
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#trending-catagories a img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#trending-catagories ul li a {
  display: block;
  position: relative;
}
#trending-catagories ul li a img {
  display: block;
  margin: auto;
}
#trending-catagories ul li a section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  opacity: 1;
  color: var(--butterfly-bush-700);
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
button {
  background-color: white;
  font-weight: 700;
  transition: all 0.5s ease;
  box-shadow: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  width: 30%;
  height: 3rem;
  size: 3rem;
  border: transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
button:hover {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: solid white;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#trending-catagories {
  margin: 1em 1em 1em 1em;
}
section #cloths-desc {
  color: var(--french-rose-600);
}
#tech-desc,
#book-desc {
  color: var(--mine-shaft-200);
}
#furniture-desc {
  color: var(--picton-blue-600);
}
#trending-products {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}
#trending-products img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;

  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    100% 100%,
    30% 100%,
    0% 70%,
    0 0
  );
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#trending-products video {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;

  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    100% 100%,
    30% 100%,
    0% 70%,
    0 0
  );

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#trending-products .product {
  position: relative;
  display: block;
}

#trending-products .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  flex-flow: column;
  opacity: 1;
  color: var(--mine-shaft-700);

  row-gap: 1rem;

  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;

  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#trending-products .info h1 {
  grid-column: 1 / span 3;

  padding-top: 3rem;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-size: 3rem;
}
#trending-products .info h3 {
  grid-row: 2;
  grid-column: 1 / span 3;
  justify-self: center;
}
#trending-products .info h3 em {
  color: var(--butterfly-bush-800);
}
#trending-products .info h3 em.price {
  color: var(--butterfly-bush-400);
  padding: 0.2rem;
  margin-top: 3em;
  background-color: black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#trending-products .info button {
  width: 90%;
  margin-right: 0.4rem;
  height: 4rem;
  align-self: start;
  justify-self: start;
  grid-row: 6;
  grid-column: 5/5;
  margin-bottom: 1rem;
  background-color: var(--french-rose-950);
  color: white;
}

#trending-products button:hover {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: solid var(--french-rose-950);
  color: var(--french-rose-950);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#trending-products div {
  height: 80%;
}
.slider {
  margin: 1.5rem;
}
#offers .img-list {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  grid-auto-columns: 33.7%;
  overflow: auto;
  gap: 0.5em;
  left: 1.4rem;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
.img-list > * {
  scroll-snap-align: start;
}

#offers img {
  width: 100%;
  object-fit: cover;
  height: 96%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#offers .img-list span {
  height: 100%;
  width: 90%;
  display: flex;
}

#offers .img-list div h3 {
  line-height: 2rem;
}

#offers .img-list div {
  position: absolute;

  display: flex;
  flex-flow: column;

  color: white;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: flex-end;
  text-align: left;
  padding-left: 1rem;

  height: 100%;
  width: 30%;
  top: -4%;
}
.img-list button {
  width: 40%;

  margin: 1rem 1rem 1rem 0px;
  background-color: var(--french-rose-950);
  color: white;
}

.img-list button:hover {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: solid var(--french-rose-950);
  color: var(--french-rose-950);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.img-list h3 {
  border-radius: 20px;
  opacity: 0.8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.slider #special {
  margin: 1.5rem;
  margin-left: 3rem;

  color: var(--butterfly-bush-800);
}
.slider #special h1 {
  display: inline;

  padding: 0.6rem;
  background-color: white;
  color: var(--butterfly-bush-800);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
footer {
  margin: 5rem 1.5rem 1rem 1.5rem;
  display: grid;

  grid-row: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#socials {
  display: flex;
  margin-bottom: 1rem;
  grid-row: 1;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
#links {
  display: flex;

  grid-row: 2;

  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
#links a {
  text-decoration-line: underline;

  -moz-text-decoration-line: underline;
}
footer p {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: oblique;
}
footer #links a:hover {
  color: var(--picton-blue-600);
}
footer #socials a:hover {
  border-bottom: solid var(--picton-blue-500);
  width: 1px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

@media screen and (max-width: 596px) {
  .slider h1 {
    font-size: 1.4rem;
  }
  .slider h2,
  .slider h3 {
    font-size: 0.7rem;
  }
  .slider div {
    top: 0;
  }
  .slider button {
    margin: 0;
    width: 70%;
    height: 15%;
    font-size: 0.5rem;
  }
  #trending-products .info h1 {
    padding-top: 0.8rem;
    font-size: 1.4rem;
    align-self: start;
  }
  #trending-products .info h3 {
    font-size: 0.9rem;
  }
  #trending-products .info button {
    height: 2rem;
    width: 60%;
    grid-row: 6;

    grid-column: 4/6;
    justify-self: center;
    align-self: start;
  }
  body {
    min-width: 320px;
  }
  h3 {
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 370px) {
  .slider h1 {
    font-size: 1.4rem;
  }
  .slider h2,
  .slider h3 {
    font-size: 0.7rem;
  }
  .slider div {
    top: 0;
  }
  .slider button {
    margin: 0;
    width: 70%;
    height: 20%;
    font-size: 0.5rem;
  }
  #trending-products .info h1 {
    padding-top: 0.8rem;
    font-size: 1.4rem;
    align-self: start;
  }
  #trending-products .info h3 {
    font-size: 0.9rem;
  }
  #trending-products .info button {
    height: 2rem;
    width: 60%;
    grid-row: 4;

    grid-column: 4/6;
    justify-self: center;
  }
  body {
    min-width: 320px;
  }
  h3 {
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  #slogan {
    display: inline;
    grid-row: 2;
    grid-column: 1/3;
    padding-left: 2rem;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--butterfly-bush-900);
    font-style: italic;
  }
  h3 {
    line-height: 5rem;
  }

  .extra {
    display: inline;
  }
  ul.links a p {
    display: inline;
  }
  ul.links {
    gap: 0.8rem;
    flex-wrap: wrap;
  }
  ul.links a {
    display: flex;
    font-size: 1.2rem;
    padding: 0.4rem;
    gap: 0.3em;
  }
  header nav .links .sides a:hover,
  .extra a:hover {
    background-color: var(--butterfly-bush-500);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  header nav .links .sides a:hover::after {
    opacity: 0;
  }

  header #list {
    display: none;
  }

  header nav > ul {
    grid-column: 1/4;
    justify-self: stretch;
    grid-row: 1;
  }
  header .search {
    grid-row: 2;
  }
  #trending-catagories ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #trending-catagories ul li a section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;

    opacity: 0;

    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  #trending-catagories ul li:hover section {
    top: 0%;

    opacity: 1;
  }
  #trending-products .info h3 {
    font-size: 3rem;
  }
  #trending-products .info h1 {
    font-size: 4rem;
  }
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  .slider #special h1 {
    background-color: black;
    color: var(--picton-blue-300);
  }
}

@media screen and (prefers-color-scheme: dark) {
body{
  background-color: black;
}
}
