@import url(/Styles/reset.css);
* {
  box-sizing: border-box;
}

:root {
  --picton-blue-50: #effaff;
  --picton-blue-100: #def4ff;
  --picton-blue-200: #b6ebff;
  --picton-blue-300: #75deff;
  --picton-blue-400: #2dcdff;
  --picton-blue-500: #01b0ec;
  --picton-blue-600: #0094d3;
  --picton-blue-700: #0075aa;
  --picton-blue-800: #00638c;
  --picton-blue-900: #065274;
  --picton-blue-950: #04344d;

  --butterfly-bush-50: #f9f7fd;
  --butterfly-bush-100: #f1eef9;
  --butterfly-bush-200: #e5dff5;
  --butterfly-bush-300: #d1c6ec;
  --butterfly-bush-400: #b5a1df;
  --butterfly-bush-500: #987cd0;
  --butterfly-bush-600: #805fbe;
  --butterfly-bush-700: #6b4ca4;
  --butterfly-bush-800: #644894;
  --butterfly-bush-900: #4b366d;
  --butterfly-bush-950: #301e4d;

  --french-rose-50: #fef1f6;
  --french-rose-100: #fee5f0;
  --french-rose-200: #ffcbe2;
  --french-rose-300: #ffa1c8;
  --french-rose-400: #ff5496;
  --french-rose-500: #fa3a7f;
  --french-rose-600: #ea1858;
  --french-rose-700: #cc0a40;
  --french-rose-800: #a80c36;
  --french-rose-900: #8c0f30;
  --french-rose-950: #560117;
  --mine-shaft-50: #f6f6f6;
  --mine-shaft-100: #e7e7e7;
  --mine-shaft-200: #d1d1d1;
  --mine-shaft-300: #b0b0b0;
  --mine-shaft-400: #888888;
  --mine-shaft-500: #6d6d6d;
  --mine-shaft-600: #5d5d5d;
  --mine-shaft-700: #4f4f4f;
  --mine-shaft-800: #454545;
  --mine-shaft-900: #3d3d3d;
  --mine-shaft-950: #292929;
  --storm-dust-800: #454545;
  --storm-dust-900: #3d3d3d;
  --storm-dust-950: #262626;
  --loblolly-200: #d8dddf;
  --loblolly-300: #bac4c8;
  --loblolly-400: #8d9da3;
  --loblolly-500: #6f8188;
  --loblolly-600: #596970;
}
body {
  /* background-color: var(--mine-shaft-950); */

  font-family: sans-serif;
  font-size: 1.4rem;
}
p {
  color: white;
  line-height: 1.9rem;
}
header p {
  color: var(--butterfly-bush-950);
}
h3 {
  line-height: 2rem;
}

/* a header with grid layout to organize nav bar*/
header {
  background-size: cover;
}

/*placing the nav bar with search on top of header*/
header section {
  background-color: var(--picton-blue-700);
  grid-column: span 7;
  grid-row: 1;
}
/* spacing between logo and links by flex*/
header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  transition: all ease 250ms;
}

/*.oscroll and .hide are use to control the nav bar appearance while scrolling using java 
script which has an event when scrolling to add scroll and hide classes
*/
.oScroll {
  background-color: var(--picton-blue-700);
  /* return nav bar to 0 position*/
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.36s ease-in-out;
  -webkit-transition: 0.36s ease-in-out;
  -moz-transition: 0.36s ease-in-out;
  -ms-transition: 0.36s ease-in-out;
  -o-transition: 0.36s ease-in-out;
  position: fixed;
}

.oScroll p {
  color: var(--butterfly-bush-950);
}
.hide {
  /* hide nav bar to -100 position*/
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

/*turn p to purple when hovering*/
header nav:hover p {
  color: var(--butterfly-bush-950);
}
header nav:hover {
  background-color: var(--picton-blue-700);
}
/*displaying nav bar correctly as flex with appropriate padding and transition
 and z index 1 to make it appear on top*/
header nav {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;

  padding-top: 1em;
  padding-bottom: 1rem;
  z-index: 1;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
/*change how logo look like when being hovered*/
header #first a:hover {
  opacity: 60%;
}
header div {
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
/*the slogan does not appear in small screens*/
#slogan {
  display: none;
}

/*search box with search icon in flex combined */
.search {
  z-index: 1;

  width: 100%;

  justify-self: center;
  flex-basis: 0.2rem;
  display: flex;

  background-color: var(--picton-blue-100);
  padding: 0.4rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search input {
  border: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.search input:focus {
  outline: none;
}

.search img {
  width: 1.3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#first img {
  width: 1.6rem;
}
#first a {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.links {
  display: flex; /*appropriately positioning  links in nav bar to  the side*/
  flex-flow: row;
  justify-content: end;
}
/*combine logo name with icon*/
#first {
  display: flex;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}
#logo h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

#cart a,
#account a {
  position: relative;
}
header a {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
}

/*place a line under anchor when being hovered*/
/* header nav .links a::after {
  transition: all 0.2s;
  content: "";
  width: 100%;
  height: 0.12rem;
  background-color: var(--french-rose-600);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
header nav .links a:hover:after {
  opacity: 1;
} */

/*extra links are not displayed in small screens*/
.extra {
  display: none;
}

/*words in links are  not displayed in small screen*/
ul.links a p {
  display: none;
}
#upload-product img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#upload-product {
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr);
  align-items: center;
  gap: 1em;
}
#upload-product article {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  gap: 1em;
  background-color: var(--mine-shaft-950);
  padding: 1em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 100%;
}
#upload-product h2 {
  color: var(--butterfly-bush-400);
  font-size: 1rem;
}
#upload-product p {
  display: none;
  color: var(--picton-blue-300);
  font-size: 1.3rem;
}
button {
  background-color: white;
  font-size: 0.7rem;
  font-weight: 700;
  transition: all 0.5s ease;
  box-shadow: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  width: 6.5rem;
  height: 3rem;
  size: 3rem;
  border: transparent;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

button:hover {
  /*a transition on button when hovering to remove background color*/
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: solid white;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
main {
  margin: 1.5rem;
}
#items-on-sale h2,
#sold-history h2 {
  color: var(--french-rose-300);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
#list-of-sale {
  border-radius: 20px;
  padding: 1em;
  background-color: var(--mine-shaft-950);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29%, 0.5fr));
  gap: 2rem;
}

.itemssale table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid var(--butterfly-bush-300);
  text-align: center;
}
.itemssale img,
.itemssold > img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

td {
  padding: 0.4rem;
  border: 1px solid var(--butterfly-bush-300);
  color: var(--picton-blue-300);
  border-right: none;
  border-left: none;
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.itemname {
  border: 1px solid var(--butterfly-bush-300);
  color: var(--picton-blue-300);
  text-align: center;
}
td {
  font-size: 0.9rem;
}
.price::before {
  content: "price : ";
  color: var(--butterfly-bush-500);
}
.price::after {
  content: "$";
}
.item-name::before,
.itemname::before {
  content: "item : ";
  color: var(--butterfly-bush-500);
}
.status::before {
  content: "status : ";
  color: var(--butterfly-bush-500);
}
#list-of-sold {
  border-radius: 20px;
  padding: 1em;
  background-color: var(--mine-shaft-950);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19%, 0.2fr));
  gap: 1rem;
}
.itemname {
  font-size: 0.6rem;
  line-height: 1.4rem;
}
.buyer::before {
  content: "username : ";
  color: var(--butterfly-bush-500);
}
.quantity-sold::before {
  content: "quantity sold : ";
  color: var(--butterfly-bush-500);
}
.quantity-purchased::before {
  content: "quantity purchased : ";
  color: var(--butterfly-bush-500);
}
.quantity-left::before {
  content: "quantity left : ";
  color: var(--butterfly-bush-500);
}
.quantity-left::after {
  content: "in total from  this item";
  color: var(--picton-blue-300);
}
.quantity-left,
.quantity-sold,
.buyer,
.price {
  color: var(--picton-blue-300);
}
.open-popup {
  cursor: pointer;
}
.pop-up ul {
  display: grid;
}
.pop-up {
  background-color: black;
  max-width: 50ch;
  border: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.close-popup {
  cursor: pointer;
  width: 2rem;
  justify-self: end;
  align-self: end;
}
.close-popup:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.pop-up::backdrop {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
footer {
  /*grid inside footer layout content as required*/
  margin: 5rem 1.5rem 1rem 1.5rem;
  display: grid;

  grid-row: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#socials {
  /*social media links on top of footer flexed as row*/
  display: flex;
  margin-bottom: 1rem;
  grid-row: 1;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
#links {
  /*other links below socials row wrapped*/
  display: flex;

  grid-row: 2;

  flex-flow: row wrap;
  justify-content: center; /*in the middle of the grid*/
  gap: 1rem;
}
#links a {
  text-decoration-line: underline; /*make a line beneath th other links*/

  -moz-text-decoration-line: underline;
}
footer p {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: oblique;
}
footer #links a:hover {
  color: var(--picton-blue-600);
}
footer #socials a:hover {
  /*a blue border bottom line for socials when hovering*/
  border-bottom: solid var(--picton-blue-500);
  width: 1px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
/*-------------------------*/
/*big screen sizes */
@media screen and (min-width: 750px) {
  /*make slogan visible */
  #slogan {
    display: inline;
    grid-row: 2;
    grid-column: 1/3;
    /*place it beneath nav bar in the header*/
    padding-left: 2rem;
    font-weight: bolder;
    font-size: 3rem;
    color: var(--butterfly-bush-900);
    font-style: italic;
  }
  h3 {
    line-height: 5rem;
  }
  /*make the other links visible*/
  .extra {
    display: inline;
  }
  ul.links a p {
    display: inline;
  }
  ul.links {
    gap: 0.8rem;
    flex-wrap: wrap; /*wrap links in case no enough space*/
  }
  ul.links a {
    display: flex;
    font-size: 1.2rem;
    padding: 0.4rem;
    gap: 0.3em;
  }
  header nav .links .sides a:hover,
  .extra a:hover {
    background-color: var(--butterfly-bush-500);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  header nav .links .sides a:hover::after {
    opacity: 0;
  }

  header #list {
    display: none;
  }

  header nav > ul {
    grid-column: 1/4;
    justify-self: stretch;
    grid-row: 1; /*change size of nav bar*/
  }
  td {
    font-size: 1.5rem;
  }
  .itemname {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 770px) {
  #upload-product article p {
    line-height: 1.5rem;
    display: inline;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 950px) {
  #upload-product article p {
    line-height: 1.9rem;
    display: inline;
    font-size: 1.4rem;
  }
  #upload-product article h2 {
    font-size: 2rem;
  }
  button {
    width: 30%;
    font-size: 1rem;
  }
  .itemname {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}

/*ligh and dark themed page*/
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  p {
    color: black;
  }
  #upload-product article {
    background-color: var(--mine-shaft-200);
  }
  #upload-product article p {
    color: var(--picton-blue-700);
  }
  #upload-product h2 {
    color: var(--butterfly-bush-900);
  }
  #items-on-sale h2 {
    color: var(--french-rose-600);
  }
  #list-of-sale {
    background-color: var(--mine-shaft-200);
  }
  .itemssale table,
  td {
    border-color: var(--butterfly-bush-500);
  }
  td,
  .buyer,
  .price,
  .quantity-left,
  .quantity-sold {
    color: var(--picton-blue-700);
  }
  .price::before,
  .item-name td::before,
  .status td::before,
  .buyer::before,
  .quantity-left::before,
  .quantity-sold::before,
  .quantity-purchased::before {
    color: var(--butterfly-bush-700);
  }
  .pop-up {
    background-color: white;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}
