@import url(/Styles/reset.css);
* {
  box-sizing: border-box;
}

:root {
  --picton-blue-50: #effaff;
  --picton-blue-100: #def4ff;
  --picton-blue-200: #b6ebff;
  --picton-blue-300: #75deff;
  --picton-blue-400: #2dcdff;
  --picton-blue-500: #01b0ec;
  --picton-blue-600: #0094d3;
  --picton-blue-700: #0075aa;
  --picton-blue-800: #00638c;
  --picton-blue-900: #065274;
  --picton-blue-950: #04344d;

  --butterfly-bush-50: #f9f7fd;
  --butterfly-bush-100: #f1eef9;
  --butterfly-bush-200: #e5dff5;
  --butterfly-bush-300: #d1c6ec;
  --butterfly-bush-400: #b5a1df;
  --butterfly-bush-500: #987cd0;
  --butterfly-bush-600: #805fbe;
  --butterfly-bush-700: #6b4ca4;
  --butterfly-bush-800: #644894;
  --butterfly-bush-900: #4b366d;
  --butterfly-bush-950: #301e4d;

  --french-rose-50: #fef1f6;
  --french-rose-100: #fee5f0;
  --french-rose-200: #ffcbe2;
  --french-rose-300: #ffa1c8;
  --french-rose-400: #ff5496;
  --french-rose-500: #fa3a7f;
  --french-rose-600: #ea1858;
  --french-rose-700: #cc0a40;
  --french-rose-800: #a80c36;
  --french-rose-900: #8c0f30;
  --french-rose-950: #560117;
  --mine-shaft-50: #f6f6f6;
  --mine-shaft-100: #e7e7e7;
  --mine-shaft-200: #d1d1d1;
  --mine-shaft-300: #b0b0b0;
  --mine-shaft-400: #888888;
  --mine-shaft-500: #6d6d6d;
  --mine-shaft-600: #5d5d5d;
  --mine-shaft-700: #4f4f4f;
  --mine-shaft-800: #454545;
  --mine-shaft-900: #3d3d3d;
  --mine-shaft-950: #292929;
  --storm-dust-800: #454545;
  --storm-dust-900: #3d3d3d;
  --storm-dust-950: #262626;
  --loblolly-200: #d8dddf;
  --loblolly-300: #bac4c8;
  --loblolly-400: #8d9da3;
  --loblolly-500: #6f8188;
  --loblolly-600: #596970;
}
body {
  /* background-color: var(--mine-shaft-950); */

  font-family: sans-serif;
  font-size: 1rem;
}
p {
  color: white;
  line-height: 1.9rem;
}
header p {
  color: var(--butterfly-bush-950);
}
h3 {
  line-height: 2rem;
}

/* a header with grid layout to organize nav bar*/
header {
  background-size: cover;
}

/*placing the nav bar with search on top of header*/
header section {
  background-color: var(--picton-blue-700);
  grid-column: span 7;
  grid-row: 1;
}
/* spacing between logo and links by flex*/
header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  transition: all ease 250ms;

  display: flex;
  flex-direction: column;

  background-color: var(--picton-blue-200);
}

header nav {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;

  padding-top: 1em;
  padding-bottom: 1rem;
  z-index: 1;
  display: flex;
  gap: 0.2rem;
  flex-flow: column;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
/*change how logo look like when being hovered*/
header #first a:hover {
  opacity: 60%;
}
header div {
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
/*the slogan does not appear in small screens*/
#slogan {
  display: none;
}

/*search box with search icon in flex combined */
.search {
  z-index: 1;

  width: 100%;

  justify-self: center;
  flex-basis: 0.2rem;
  display: flex;

  background-color: var(--picton-blue-100);
  padding: 0.4rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.search input {
  border: transparent;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.search input:focus {
  outline: none;
}

.search img {
  width: 1.3rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#first img {
  width: 1.6rem;
}
#first a {
  color: black;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.links {
  display: flex; /*appropriately positioning  links in nav bar to  the side*/
  flex-flow: row;
  justify-content: end;
}
/*combine logo name with icon*/
#first {
  display: flex;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}
#logo h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

#cart a,
#account a {
  position: relative;
}
header a {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
}

.extra {
  display: none;
}

/*words in links are  not displayed in small screen*/
ul.links a p {
  display: none;
}

main {
  display: flex;
  flex-direction: column;

  button {
    margin: 1rem 2rem;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--picton-blue-300);

    font-weight: bold;
  }
}
#show-prod {
  padding-top: 1.5rem;
}
.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border-radius: 0.7rem;
  height: 1.75rem;
  width: 90%;
  margin: 0.5rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--picton-blue-100);
}

.input-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0rem 1rem;

  p {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 1.5rem;
  }
}
